<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let event of events">
  <mat-expansion-panel-header>
    {{ event.description }}
  </mat-expansion-panel-header>
  <p>Start: {{ event.startTime }}</p>
  <p>End: {{ event.endTime }}</p>
  <mat-action-row>
    <a mat-button color="primary" [routerLink]="['/edit', event.id]" routerLinkActive="router-link-active" >EDIT</a>
    <button mat-button color="warn" (click)="onDelete(event.id)">DELETE</button>
  </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
